setuptools==35.0.2
Pillow==8.2.0
awesome-slugify==1.6.5
beautifulsoup4==4.6.0
boto==2.48
croniter==0.3.16
dateparser==0.6.0
google-cloud-bigquery==0.24.0
google-cloud-datastore==1.0.0
google-cloud-pubsub==0.24.0
google-cloud-storage==1.2.0
GoogleScraper==0.2.1
pymongo==3.4.0
Scrapy==1.3.3
scrapy-jsonrpc==0.3.0
scrapy-rotating-proxies==0.3.1
scrapyrt==0.10
shub==2.5.1